</body>
<link rel="stylesheet" type="text/css" href="css/card_style.css" />

<div class="spacer font-small" style="flex: 1;margin-top:0vh" ></div>
<footer class="page-footer  pt-4 " style="
flex-shrink: 0;
background: #0a0a0a;
">

  <div class="container-fluid text-center text-md-left " style="margin-top:1vh; margin-bottom:1vh;">

    <!--row-->
    <div class="row-modified justify-content-center" style="display: block;">

      <!-- Grid column -->
      <div class="col   col-lg-6 mt-md-0 mt-3 col-modified" style="text-align: center;width: 100%;">

        <!-- Content -->
        <a href="/dashboard"><img class="navbar-brand bottom-nav-img" src="/images/RG_6.png" height="50vh" alt="logo"></a>
        <div style="font-size:2vh;color:#a8a8a8;">Nuevos retos cada semana</div>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">


      <div class="col col-lg-3 mb-md-0 mb-3 col-modified cl-mobile-footer"  >

        <h5 class="text-uppercase" style="font-size:3vh;"><strong>Informacion de interes</strong></h5>
        <hr style="background-color: #222;">
        <ul class="list-unstyled">
          <li>
            <a class="footer-item-padding" href="/dashboard" style="font-size:2vh;color:#a8a8a8;margin-top:2vh;">INICIO</a>
          </li>
          <li>
            <a class="footer-item-padding" href="/leaderboard" style="font-size:2vh;color:#a8a8a8;margin-top:2vh;">CLASIFICACIONES</a>
          </li>
          <li>
            <a class="footer-item-padding" href="/aboutUs" style="font-size:2vh;color:#a8a8a8;margin-top:2vh;">NOSOTROS</a>
          </li>

        </ul>

      </div>
      <div class="col col-lg-3 mb-md-0 mb-3 col-modified cl-mobile-footer" >

        <h5 class="text-uppercase" style="font-size:3vh;"><strong>Contacto</strong></h5>
              <hr style="background-color: #222;">

        <ul class="list-unstyled">
          <li>
            <a class="footer-item-padding" href="mailto:soporte@retosgamer.com" style="font-size:2vh;color:#a8a8a8;"><i class="fas fa-envelope" style="margin-right:1vw;"></i> soporte@retosgamer.com</a>
          </li>

        </ul>

      </div>

    </div>

  </div>

  <div class="footer-copyright text-center py-3 footer-lp-mobile" style="">© 2020 Copyright:
    <a href="#"> retosgamer.com</a>
  </div>
</footer>