</body>
<!-- Footer -->
<div class="spacer font-small" style="flex: 1;margin-top:3vh" ></div>
<footer class="page-footer  pt-4 " style="
flex-shrink: 0;
background:black;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left" style="margin-top:1vh; margin-left:3vw;margin-right:3vw; margin-bottom:1vh;">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3" style="text-align: center;">

        <!-- Content -->
        <img src="/images/RG_6.png" height="50vh" alt="logo" >
        <div style="font-size:2vh">New Challenges every day!</div>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3  my-auto" >

        <!-- Links -->


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase" style="font-size:3vh;"><strong>Useful Links</strong></h5>

        <ul class="list-unstyled">
          <li>
            <a class="footer-item-padding" href="#!" style="font-size:2vh;">HOGAR</a>
          </li>
          <li>
            <a class="footer-item-padding" href="#!" style="font-size:2vh;">CLASIFICACIONES</a>
          </li>
          <li>
            <a class="footer-item-padding" href="#!" style="font-size:2vh;">NOSOTROS</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> retosgamer.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
