
<div class="layout-drawer is-open">
    <div class="drawer-header drawer-header-cover" style="background-image: url('https://verdict4u.files.wordpress.com/2016/09/14-201.jpg'); color: #FFFFFF;">
        <div class="drawer-user">
            <div class="drawer-avatar">
                <img src="https://lh3.googleusercontent.com/Lq_SheAKhz2hGawK5jvt0B32y8d0OXiDy3dL8518Ksg4kVWocrWtJibaADYhlGTnfMaq75ySmiSfpOEs=s220-rw">
            </div>
            <div class="drawer-meta">
                <span class="drawer-name">Kuroro Rushirufuru</span>
                <span class="drawer-email">itsmekuroro@gmail.com</span>
            </div>
        </div>
    </div>
    <nav class="drawer-navigation drawer-border">
        <a class="drawer-list-item is-active" href="javascript:">
            <i class="material-icons">inbox</i><span>Inbox</span>
        </a>
        <a class="drawer-list-item" href="javascript:">
            <i class="material-icons">star</i><span>Starred</span>
        </a>
        <a class="drawer-list-item" href="javascript:">
            <i class="material-icons">send</i><span>Sent Mail</span>
        </a>
        <a class="drawer-list-item" href="javascript:">
            <i class="material-icons">drafts</i><span>Drafts</span>
        </a>
    </nav>
    <nav class="drawer-navigation drawer-border">
        <span class="drawer-subtitle">Folders</span>
        <button class="drawer-dropdown-toggle" data-target="#drawer-dropdown-nav">
            <span>All Mail</span>
        </button>
        <nav class="drawer-navigation drawer-border" id="drawer-dropdown-nav">
            <a class="drawer-list-item" href="javascript:"><span>Read</span><i class="drawer-badge">752</i></a>
            <a class="drawer-list-item" href="javascript:"><span>Unread</span><i class="drawer-badge">9</i></a>
        </nav>
        <a class="drawer-list-item" href="javascript:"><span>Trash</span></a>
        <a class="drawer-list-item" href="javascript:"><span>Spam</span></a>
    </nav>
    <nav class="drawer-navigation">
        <a class="drawer-list-item drawer-icon-right" href="javascript:">
            <span>Report Bugs</span><i class="material-icons">bug_report</i>
        </a>
    </nav>
</div>
