<%- include('partials/header') %>


<div class="jumbotron jumbotron-fluid" style="background-color:transparent; text-align:center;">
  <div class="container">
    <p style="color:white;" class="display-4">Crea un nuevo desafío</p>
  </div>
</div>





<div style="">

<div class="container">
<div class="row text-center">
  <div class="col d-flex justify-content-center">


    <div style="margin 0 auto; padding:2%; padding-left:5%; padding-right:5%; width:800px; background:rgba(255,255,255,1); border-radius:15px;">

<form  action="/addChallenge" method="post">


  <div class="form-group">
   <label for="exampleInputPassword1">Challenge Title</label>
   <input name="challengeName" type="text" class="form-control" id="exampleInputPassword1" placeholder="Call Of Duty">
 </div>
 <div class="form-group">
   <label for="exampleInputPassword1">Challenge Type</label>
   <input name="challengeType" type="text" class="form-control" id="exampleInputPassword1" placeholder="Global • 1v1 • 50 CUPOS">
 </div>
 <div class="form-group">
   <label for="exampleInputPassword1">Challenge Prize</label>
   <input name="prize" type="text" class="form-control" id="exampleInputPassword1" placeholder="$50">
 </div>
 <div class="form-group">
   <label for="exampleInputPassword1">Code to embed</label>
   <textarea name="code" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
 </div>
 <button type="submit" class="btn btn-outline-primary">Publish</button>

</form>
</div>
</div>
</div>
</div>
</div>
