<%- include('partials/header') %>

<ol class="breadcrumb mt-4" style="background-color: 	#383838; margin-left:100px; margin-right:100px; ">
  <li class="breadcrumb-item" style="color:white;"><a href="/">HOGAR</a></li>
  <li class="breadcrumb-item active" style="color:white;" aria-current="page">DESAFÍOS</li>
</ol>

<div class="jumbotron jumbotron-fluid" style="background-color:transparent; text-align:center;">
  <div class="container">
    <p style="color:white;" class="lead">DESAFÍOS</p>
  </div>
</div>

<div style="margin-top:-50px;" id="20154-fyrvahk9" class="sw_container"><script type="text/javascript" src="https://sweepwidget.com/w/j/w_init.js"></script></div>
