<%- include('partials/login_header.ejs') %>
<style>
	.errorInput{
		-webkit-box-shadow: inset 0px 0px 8px 3px rgba(255,0,0,1);
-moz-box-shadow: inset 0px 0px 8px 3px rgba(255,0,0,1);
box-shadow: inset 0px 0px 8px 3px rgba(255,0,0,1);
	}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		function validateEmail($email) {
		var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
		return emailReg.test( $email );
	   }
	   $('.button').click(e=>{
		   e.preventDefault();
		   var email=$('#user').val();
		   if( !validateEmail(email)) { 
			$('#emailLError').html("<br/>Ingresa una dirección email válida!");
			$("#user").addClass('errorInput');
		   }
		   else{
				$('.fgpass').submit();
		   }
	   })  
	});
</script>
<div class="login-wrap">
  <form class="fgpass" action="/forgetPassword" method="post">


	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab" style="color:black;">RESTABLECER CONTRASEÑA</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label"> <strong>Email</strong></label>
					<input name="email" id="user" type="text" class="input" placeholder="ejemplo@xyz.com">
					<p id="emailLError" style="color: black;margin-top: -1vh;"></p>
				</div>

				<div class="group">
					<input type="submit" class="button" value="CONFIRMAR" style="color: white;">
					
				</div>

			</div>
      </form>
		</div>
