<%- include('partials/header') %>

  <ol class="breadcrumb mt-4" style="background-color: 	#383838; margin-left:100px; margin-right:100px; ">
    <li class="breadcrumb-item" style="color:white;"><a href="/">HOGAR</a></li>
    <li class="breadcrumb-item active" style="color:white;" aria-current="page">CLASIFICACIONES</li>
  </ol>
<div>
  <div class="jumbotron jumbotron-fluid" style="background-color:transparent; text-align:center;">
    <div class="container">
      <h1 style="color:white;" class="display-4">¡GANADORES!</h1>
    </div>
  </div>

  <div style="margin-bottom:40px;">
    <div class="container-fluid mt-2" style="text-align:center; padding-left:50px; padding-right:50px">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-3 cardModified">
        <img class="card_image" src="https://media-private.canva.com/jW8s4/MAD_eGjW8s4/1/s2.jpg?response-expires=Thu%2C%2023%20Jul%202020%2013%3A13%3A12%20GMT&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200723T102129Z&X-Amz-SignedHeaders=host&X-Amz-Expires=10302&X-Amz-Credential=AKIAJJATJK7JCUD446NA%2F20200723%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=395cd4bfb72245620a2bf13c2bffe9b507ea62a1ba965482ebbd36b95e34b42f" alt="Photo of sunset">
      <div class="textStyle" style="color:#00c400;   font-weight: bold;">
        LEAGUE OF LEGENDS
        </div>
        <div class="textStyle" style="color:white;   margin-top: 2px;">
          MEJOR CONSTRUCCIÓN
          </div>
        <div class="textStyle">
          <img  style="margin-top: 2px; width: 50px;"  src="https://image.flaticon.com/icons/svg/3135/3135728.svg">
          </div>
          <div class="textStyle" style="color:white;   margin-top: 2px;">
            USER123
        </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-3 cardModified ">
        <img class="card_image" src="https://media-private.canva.com/qty7U/MAD_ecqty7U/1/s3.jpg?response-expires=Thu%2C%2023%20Jul%202020%2015%3A27%3A41%20GMT&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200723T125032Z&X-Amz-SignedHeaders=host&X-Amz-Expires=9428&X-Amz-Credential=AKIAJJATJK7JCUD446NA%2F20200723%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=d04baf4d549d15eaabaf64f8860db49aeb0653c2e0054f11dd44b69b3f891e88" alt="Photo of sunset">

        <div class="textStyle" style="color:#00c400;   font-weight: bold;">
        CALL OF DUTY
          </div>
          <div class="textStyle" style="color:white;   margin-top: 2px;">
            MEJOR CONSTRUCCIÓN
            </div>
          <div class="textStyle">
            <img  style="margin-top: 2px; width: 50px;"  src="https://image.flaticon.com/icons/svg/3135/3135728.svg">
            </div>

            <div class="textStyle" style="color:white;   margin-top: 2px;">
        USER123
        </div>

        </div>
        <div class="col-md-6 col-sm-6 col-lg-3 cardModified">
        <img class="card_image" src="https://cnet2.cbsistatic.com/img/YM0KLF_2zmk1xpYdn70fHf_ucJQ=/940x0/2019/09/18/c07d7cfa-5cc7-4d64-a3bb-aabf6b778dcc/call-of-duty-mobile.jpg" alt="Photo of sunset">

        <div class="textStyle" style="color:#00c400;   font-weight: bold;">
          LEAGUE OF LEGENDS
          </div>
          <div class="textStyle" style="color:white;   margin-top: 2px;">
            MEJOR CONSTRUCCIÓN
            </div>
          <div class="textStyle">
            <img  style="margin-top: 2px; width: 50px;"  src="https://image.flaticon.com/icons/svg/3135/3135728.svg">
            </div>

            <div class="textStyle" style="color:white;   margin-top: 2px;">
        USER123
        </div>

        </div>
        <div class="col-md-6 col-sm-6 col-lg-3 cardModified">
        <img class="card_image" src="https://image-cdn.essentiallysports.com/wp-content/uploads/20200617190129/fortnite-season-3-battle-pass-skins-1600x901.jpg" alt="Photo of sunset">

        <div class="textStyle" style="color:#00c400;   font-weight: bold;">
          LEAGUE OF LEGENDS
          </div>
          <div class="textStyle" style="color:white;   margin-top: 2px;">
            MEJOR CONSTRUCCIÓN
            </div>
          <div class="textStyle">
            <img  style="margin-top: 2px; width: 50px;"  src="https://image.flaticon.com/icons/svg/3135/3135728.svg">
            </div>

            <div class="textStyle" style="color:white;   margin-top: 2px;">
        USER123
        </div>

        </div>
      </div>
    </div>

    </div>
