<%- include('partials/header_myProfile') %>
<div class=" "  style="background-color:transparent; text-align:center; font-family: 'Monoton', cursive;font-weight:normal;font-style:normal;">
    <h6  style="font-size:2rem;color:#ffa500; margin-top:20px;  font-family: 'BIGMACCA';">MI PERFIL</h6>
</div>

<div style=" display: flex;
align-items: center;
margin-top:80px;
justify-content: center;
flex-direction: column; ">
  <div class="card-container">
	<img class="round" style="width:100px;" src="https://image.flaticon.com/icons/svg/695/695563.svg" alt="user" />
	<h3 style="margin-top:20px;"><strong><%=name%></strong></h3>
	<h6 style="font-size:0.8rem;"><%=email%></h6>
	<p><%=phone%></p>
	<div class="buttons">
		<button class="primary">
			Message
		</button>
		<button class="primary ghost">
			Following
		</button>
	</div>
	<div class="skills">
		<ul>

		</ul>
	</div>
</div>



</div>
