<%- include('partials/login_header.ejs') %>
<style>
	.errorInput
{
-webkit-box-shadow: inset 0px 0px 8px 3px rgba(255,0,0,1);
-moz-box-shadow: inset 0px 0px 8px 3px rgba(255,0,0,1);
box-shadow: inset 0px 0px 8px 3px rgba(255,0,0,1);
}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		
	   $('.button').click(e=>{
		   e.preventDefault();
		   var otp=$('#user').val();
		   if( otp.length!==6) { 
			$('#otpError').html("<br/>Dirección email o contraseña incorrecto/s o inexistentes");
			$("#user").addClass('errorInput');
		   }
		   else{
			$("#user").prop('disabled', true);
			$("#pass").prop('disabled', true);
			var formData = new FormData();
			formData.append('code', $('#user').val());
			formData.append('password', $('#pass').val());
			$("#submitButton").css("display","none");
			$("#SignupSubmitButtonProgress").css("display","block");
			$.ajax({
				url: window.location.origin+'/newPassword',  
				type: 'POST',
				data: formData,
				success:function(data){
					if(data==="success"){
						location.href = window.location.origin+'/login';
					}
					else{
						$("#SignupSubmitButtonProgress").css("display","none");
						$("#submitButton").css("display","block");
						$("#user").prop('disabled', false);
						$("#pass").prop('disabled', false);
										
						$('#otpError').html("<br/>Dirección email o contraseña incorrecto/s o inexistentes");
						$("#user").addClass('errorInput');
					}
				},
				cache: false,
				contentType: false,
				processData: false
				});
		   }
	   });  
	   $('#resendCode').click(e=>{
		 e.preventDefault();
		 disableUI();
		 ResendCodeRequest()
	   })
	   const disableUI=()=>{
		$("#user").prop('disabled', true);
		$("#pass").prop('disabled', true);   
		$("#submitButton").css('disabled', true);
		$('#resendResp').fadeOut();
		$('#resendCode').html('<div class="spinner-border" style="height:2vw;width:2vw;border-color:black ;"></div>');
	   }
	   const enableUI=()=>{
		$("#user").prop('disabled', false);
		$("#pass").prop('disabled', false); 
		$("#submitButton").css('disabled', false);  
		$('#resendResp').fadeIn();
		$('#resendCode').html('¿no recibiste tu código? haz click para reenviar')
	   }
	   const ResendCodeRequest=()=>{
		$.get( "/resendFgtPsswdCode", ( data )=> {
			if(data==='LIMIT_REACHED'){
				enableUI();
				$('#resendResp').html('Limit reached, please try again later');
				$('#resendCode').fadeOut();
			}
			else{
				$('#resendResp').html('<i class="fas fa-check-circle"></i>Code Sent Successfully');
				enableUI();
			}
		});
	   }
	});
</script>


<div class="login-wrap">
  <form class="" action="/newPassword" method="post">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab" style="color: black;">Reset Password</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label"><strong>Código de verificación</strong></label>
					<input name="code" id="user" type="text" class="input" placeholder="564878"  autocomplete="off">
					<p id="otpError" style="color: black;margin-top: -1vh;"></p>
				</div>
				<div class="group">
					<label for="pass" class="label"><strong>nueva contraseña</strong></label>
					<input id="pass"  name="password" type="password" class="input" data-type="password" placeholder="********">
				</div>
				<div class="group">
					<input type="submit" class="button" id="submitButton" value="Submit" style="color: white;"  autocomplete="off">
					<div class="button" id="SignupSubmitButtonProgress" style="background: black;display: none;text-align: center;"><div class="spinner-border" style="height:2vw;width:2vw;border-color:white ;"></div></div>
				</div>
				<div class="foot-lnk" style="margin-top:20px;">
					<p id="resendResp" style="color: black;"></p>
					<a id="resendCode" href="#" style="color: black;">¿no recibiste tu código? haz click para reenviar</a>
				  </div>
			</div>
	  </form>
</div>