<%- include('partials/register_header') %>

<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <img style="width:10%; margin-top:3%" src="https://image.flaticon.com/icons/svg/2948/2948035.svg" id="icon" alt="User Icon" />
    </div>

    <form >
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="email">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="email">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="email">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
    <input type="button" href="SignUp" class="fadeIn fourth" value="Sign Up" style="  margin: 5px 20px 10px 20px;   background-color:#ff4c4c">
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
<%- include('partials/footer') %>
