



.h1-dashboard-heading{
  font-size:3.9vw;
      display:block;
      position:relative;
       font-family: 'Roboto Slab', serif; color:white;
}
.p-dashboard-heading{
  color:white;
  font-size:1.5vw;
}.c-callengeTime{
  color:white;
  margin-right:1vw;
  font-size:1vw;
 }
 .coinToCOPHint{
  font-family: Arial, Helvetica, sans-serif; 
  color: #fff;
  font-size: 0.8vw;
}
 .hr-mobile{
   display: none;
 }
 .cardBodyContainer{}

 .spotsCounterDashboard{
  padding-top:0.5vw;
  flex-grow: 1;
  margin: auto auto auto 0;
}
 .footerMobileFontSize{
   color: white;
   font-size:1.5vw;
  }
  .modalHeading{
    margin:auto;
    color: white;
    font-size: 1.5vw;
  }
 .mobiletimeBannerContainer-Container2{}

 .challengeTopParentContainer{
  height: 40vh;
  width: 100%;
}
.fontSizeOptimizer{
  font-size:10vw;
}
.imageHeadingShareDialog
{
  width: 31vw;
}
.mobileOnlyJoinButton{
  display: none;
}
.pcOnlyJoinButton{
  display: block;
}
.spotsContainer2{
  font-size: 1.5vw;
  color:white;
  padding:0;
  margin:0;
  float: right;
}
.childContent2{
  text-align: right;
}
.buttonShdwEffect {
  
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  font-weight: 500;
  color: #fff;
  border: 3px solid rgb(94, 89, 89);
  background-color: rgba(94, 89, 89,0.8);
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }
  .chat-disabled-info{
    margin: 20px;
    background-color:rgba(20,20, 20, 0.6);
    margin:auto;
    color:white;
    padding: 1vw 1vw;
    border-radius: 2vw;
  }
.progressBarStyleMobile{width: 15vw;margin-top: 1vh;}

 .challengeTopContainer{
   padding: 3vw; 
  height:40vh;
  display: inline-block;}
 .containerDashboardHeading{
  display: inline-grid;
  justify-items: center;
  align-items: center;
  
}
.iconSpotsStyle{
  font-size: 1.5vw;margin-right: 1vw;
}
.challengeTopContainer2{
  float: right;
 color: #FFF;
 margin-top: 15vh;
 margin-right:4vw;
 font-family: 'Roboto', sans-serif;}
 .width-100-m{
  float: left;
}
.cardContainerSize{
  border-bottom-left-radius: 0.2vw;
  border-bottom-right-radius: 0.2vw;
};

.spotsFontSize{font-size:0.8vw;}
.sub-heading{
  color:#e2e2e2;margin-bottom:5vw;
}
.sub-text{
  color:#FFF;
  margin-top:1vw;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5vw;
}
.cardFooter{display: flex;}

.lbc-img-txt{
  color:#FFFFFF;
  font-size:1vw; 
  margin-top:1vh;
  font-family: 'Poppins', sans-serif;
}
.mobile-table-heading-lbc{
  color:#FFF; 
  font-size:1.5rem;
  font-family: 'Open Sans', sans-serif;
}
 .padding-mobile-optimize{
   margin-top:20px;
   padding: 0px 250px 0px;
 }
 .result-image-lbc{
  width:16vw; 
  height:9vw; 
  border-radius:0.5vw;
}
.imageBorder{
  border-top-left-radius: 0.2vw;
  border-top-right-radius: 0.2vw;
}
 .c-prize-mobile{
  display: inline-flex;
 }
 .c-prize-background{
  background: #111;
  border-radius: 3px;
  margin-right: 1vw;
}
.lbc-heading-m{
  font-size:2rem;
  color: #FFF; 
  font-family: 'Open Sans', sans-serif;
}
.t-lbc-text{
  color:#ffffff;
  font-size:1.5vw;
  font-family: 'Poppins', sans-serif;
}
.subscribe-m-dim{
  width:3wv; 
  height:3vw;
   margin-top:5vw; 
  margin-bottom:5.5vw; 
  margin-right: 3vw;
  margin-left: 3vw;
}
 .c-prize-text{
  color:#fff;
  font-size:1.5vw; 
  font-family: 'Open Sans', sans-serif;
  display: inline-flex;
  margin:1vw;
  margin-bottom: 0.1vw;
}
.timeLabelStyle{
  display: inline-block;
   border:0.1vw solid #4CA1AF;
  text-align:center;
  color: #fff;
  padding: 0.1vw;
  border-radius: 0.2vw;
  font-size: 0.7vw;
}
.pulseStyleMobile{

}
.c-text-prize{
  background:#090f0f;
  color:white;
  text-align: center;
  color:#fff;
   font-size:1.5vw;
  padding:1vw; 
  font-family: 'Open Sans', sans-serif;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
 .c-textrd{
  font-size: 1vw;
  color: white;
}
.sub-ret-img{
  height:4vw; height:4vw;
}
.heading-card-cl{
  color:#fff;
  font-weight: bold; 
  font-family: 'Public Sans', sans-serif; 
  font-size:0.95vw;
  margin-right:1vw;
  width:100%;
}
.c-buttonCenter{
 
 }
 .mobile-extra-col{
}
 .c-heading{
  color:#fff;
   font-size:1.5vw;
   font-family: 'Open Sans', sans-serif;
  margin-bottom: 5vh;
  margin-top: 3vw;
 }
 .subscribe-m{
  display: inline-block; margin-right:2vw;
}
.mobile-otpimizeNav-cl{
  
  display: none;
  max-height: 0px;
}
.participateButton{
  font-size: 1vw;
  background-color:rgba(0, 0, 0, 0);
    margin: auto 0 auto auto;
  padding: 0.5vw;
  color: #fff;
  border-radius: 0.2vw;
  border: 0.1vw solid  #7A7D87;
}
.lbc-img-optimized{
  width:2vw;
}
.lbc-mobile-optimized-img{
  width:70vw;
}
.bck{
  background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bck2{
  background: #fc4a1a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.lb-heading-mobile{color:#FFF;
   font-family: 'PT Sans', sans-serif;
   font-size:3vw;
  }
  .lb-heading-container{
    padding:3vw 0vw 3vw 3vw;
   }
   .c-image-prize{
    height:25vh;
    margin-top:-8vh;
    margin-bottom: 2vh;
  }   
.mobile-cl-optimize{
  
}
.sub-img-2{
  width:3wv;
   height:3vw;
   margin-top:5vw;
   margin-bottom:5.5vw; 
  margin-right: 5vw;
  margin-left: 4.8vw;
}
.top-navbar-mobile{
}
.d-board-cardTxt2{
  color:white;
   /* background-color: #F51100; */
   /* margin-top: 0.8vh;  */
  font-size:0.8vw;
  margin: 0;
  margin-top: 0.3vw;
  border:0.1vw 0.5vw 0.1vw 0.5vw;
  /* border-radius: 10px; */
  /* display: inline-flex; */
  /* padding:2px; */
  /* padding-left:0.8vw;
  padding-right:0.8vw; */
}
.cl-card-time-style{
  color:#999999;  
  margin-top: 0.3vh; 
  font-size:0.85vw;
  border-radius: 10px;
  font-weight: bold;
  display: inline-flex;
  padding:2px;
  padding-right:0.8vw;
  float: left;
  
}
.c-div-mobile{
  display: inline-block;
}
.prize-cl-text{
  color:#999999;  
  margin-top: 0.3vh; 
  font-size:0.85vw;
  border-radius: 10px;
  font-weight: bold;
  padding:2px;
  padding-right:0.8vw;
  
}
.img-mobile-cl{
  height: 70vh;
}
.mobile-optimize-navbar{
  display: none;
}
.mobile_center{
  width: 100%;
  display: block;
  clear: left;
}
.dashboard-card-time-style{
  color:#999999;  
  font-size:0.85vw;
  font-weight: bold;
  display: inline-block;
  padding:2px;
  padding-right:0.8vw;
  margin-top: 1vw;
}
.dashboard-card-prize-style{
  color:white;  
  font-size:1.2vw;
  font-weight: bold;
  display: inline-block;
  padding:2px;
  padding-right:0.8vw;
  margin-top: 1vw;
}
.card-body-cl{
  background-color:#050505;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; 
  max-width: 22vw;
  padding-left:0.8vw;
  padding-top:0.2vw;
  min-height: 15vh;
}
.dashboard-grid-button{
  height:8vh;
  border:0;  
  font-size:1.8vw;
  background:#FF0000;
  color:#ffffff;
  padding-left: 1vw;
  padding-right: 1vw;
} 

.row-stats{
  margin-top:2vh;
}
.p-dashboard-heading2{
  color:white;
  font-size:1.5vw;
}
.carousel-caption-custom{
  color:#ffffff;
   font-family: 'Rowdies';
  font-size:3vw;
  margin-bottom:1vh;
}
.c-buttonJoin{
  background:rgba(0, 0, 0, 0.8);
  color:#fff; 
  font-size:1.5vw; 
  font-family: 'BIGMACCA';
 }
.carousel-button-custom{
  font-size: 1.5vw;
}
.footer_desktop{
  margin-bottom: -3.5vh;
}
.p-foot-note{
  color:white;
  font-size:1.5vw;
}
.carousel-indicators-custom{
  font-size: 2.5vw;
}
.category-dashboard-heading{
  font-family: 'PT Sans', sans-serif;
  font-size:2vw;
}
.button-view-all{
  height:3vw;
  border:0; 
  font-size:1.3vw;
  background:rgba(0, 0, 0, 0.8);
  color:#ffffff;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 0.5vw;;
}
.c-challengePrize{
  color: white;
  font-size:1vw;
 }
.button-view-all_ch{
  height:2vw;
  border:0; 
  font-size:1.3vw;
  background:#FF0000;
  color:#ffffff;
  padding-left: 1vw;
  padding-right: 1vw;
}
.c-challenge-name{
  color:#fff;
   font-size:2vw; 
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
 }
.mobile-margin-top{
  width:100%;
  height:70vh;
  margin-top:-5vh; 
}
.counter-value{
  color:white;
  font-weight:bold;
  font-size:2.5vw;
  margin-top:-1.5vh;
}
.challenge-heading{
  color:#fff; 
  font-size:0.85vw; 
  margin-top: 0.3vh;
  margin: 0;
  height: 2vw;
}
.challengeBaseLableStyle{
  display: inline-block;
  border:0.1vw solid #dc281e;
  text-align:center;
  color: #fff;
  padding: 0.1vw;
  border-radius: 0.2vw;
  font-size: 0.7vw;
}
.challenge-text-custom{
  color:#cccccc;   
  margin-top: 0.5vh; 
  font-size:1vw;
}
.counter{
  float: left;
}
:root {
  --pulseSize: 10px;
  --blue: rgb(255, 8, 8);
  --transparentBlue: rgba(95,139,250,0);
}

.pulse {
  width: var(--pulseSize);
  height: var(--pulseSize);
  border-radius: 50%;
  background: var(--blue);
  box-shadow: 0 0 0 var(--blue);
  animation: pulsing 2s infinite;
  transition: all 0.2s;
  cursor: pointer;
}

.pulse:hover {
  --blue: rgba(209, 167, 160,.65);
  --transparentBlue: rgba(209, 167, 160,0);
}

.pulse:active {
  transform: scale(1.5);
}

@keyframes pulsing {
  from {
    box-shadow: 0 0 0 0 var(--blue);
  }
  70% {
    box-shadow: 0 0 0 var(--pulseSize) var(--transparentBlue);
  }
  to {
    box-shadow: 0 0 0 0 var(--transparentBlue);
  }
}
.col-modified{
  float: left;
}
.challenge-prize-custom{
  color:#ffb327;
  margin-top: 0.5vh; 
  font-size:1vw;
}
.heading-mobile-only{
  width:100%;
}
.p-stats-custom{
  color:white;
  font-size:1.5vw;
  font-weight:bold;
}
.mobile-toggleSide-cl{
  
}
.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,0,0,1);
}
.bottom-nav-img{
  
}
.card_image{
  height:12vw;
  width:25vw;
}
.card_image_all_ch{
  height:10.68vw;
  width:19vw;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card_item{
  padding-left:5px;
  padding-right:5px;
}
.item-card{
  transition:0.5s;
  cursor:pointer;
}
.item-card-title{
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
.item-card-title i{
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg);
  color:#18d4ca;
}
.zoomImg {
  transition: transform .7s;
}
.button-foot-note{
  font-size:1.5vw;
}

.zoomImg:hover {
  -ms-transform: scale(3); /* IE 9 */
  -webkit-transform: scale(3); /* Safari 3-8 */
  transform: scale(3);
}
.headingFont{
  font-family: 'bigmaccaregular', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}
.buttonCard{

  border:0px solid #222222;
  font-weight: bold;
  background: #000000;
  color:#FFF;
}

.buttonCardTransparent{
  margin-top:10px;
  min-width:150px;
  padding-left: 50px;
  padding-right:50px;
  border:0px solid #222222;
  border-radius: 20px;
  font-weight: bold;
  background: rgba(0,0,0,0.7);
  color:#FFF;
}
.timer_back{
  padding-left:0.7vw;
  padding-right:0.7vw;
  color:#d8d8d8;
  /* font-family: 'PT Sans', sans-serif; */

display: inline-block;
  border:0px solid #222222;
  border-radius: 20px;
  font-weight: bold;
  background: rgba(0,0,0,0.4);
  margin-top: 5px;
}
.row-modified{
    width: ;
}
.cl-mobile-footer{
  
}
.footer-lp-mobile{
  display:block;
  width:100%;
 min-height: 4vw;
}
.prize_back{
  padding-left:0.7vw;
  padding-right:0.7vw;
  color:#d8d8d8;
  /* font-family: 'PT Sans', sans-serif; */

display: inline-block;
  border:0px solid #b17200;
  border-radius: 20px;
  font-weight: bold;
  background: #b17200;
  margin-top: 5px;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:80px;
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}

.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: #262828;
}
.blurredBackground{

  background-image: url("/images/background.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

}
.dashboardClass{
  background: 	#090f0f;/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.cardModified{
  margin:0px;
  position:absolute;
}

.masthead {
  height: 50vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blur {
width:100%;
height:100%;
background-size:cover;
-webkit-filter: blur(4px);
-moz-filter: blur(4px);
-ms-filter: blur(4px);
-o-filter: blur(4px);
filter: blur(4px);
}
.imageCarousel{
  
}
.pagination > li > a
{
    background-color: white;
    color: #5A4181;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}


.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}

.card-leaderboard{
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border: 1px solid #AAAAAA;
  text-align: center;
}
@font-face {
  font-family: "BIGMACCA";

  src: url("/fonts/bigmacca.woff") format("woff"), /* Modern Browsers */
    url("/fonts/bigmacca.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
.challengeBackground{
 background: url('images/background.jpg');
}
.cardShadow{
  -webkit-box-shadow: 0px 0px 84px 21px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 84px 21px rgba(0,0,0,1);
  box-shadow: 0px 0px 84px 21px rgba(0,0,0,1);
}
.carder{
  border-radius: 10px;
  background: #222;
}
.table_head{
  font-size:1.5rem;
  vertical-align:middle;
  text-align:center;
  color:white;
}
.table_row{
   margin:10px;
   background-color:#222;
   padding-left:15px;
}
.shadow_admin{
  -webkit-box-shadow: 0px 0px 36px 13px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 36px 13px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 36px 13px rgba(0,0,0,0.75);
}




.active-pink-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink input.form-control[type=text] {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-purple-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.active-purple input.form-control[type=text] {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input.form-control[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan .fa, .active-cyan-2 .fa {
  color: #4dd0e1;
}
.active-purple .fa, .active-purple-2 .fa {
  color: #ce93d8;
}
.active-pink .fa, .active-pink-2 .fa {
  color: #f48fb1;
}
.button_adminPanel{
    padding:0px;
    border-radius: 50px;
}
.square_btn{
    display: inline-block;
    padding: 10px 20px;
	border-radius: 25px;
    text-decoration: none;
    font-weight: bolder;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #7f7fff 0%, #3232ff 100%);
    background-image: linear-gradient(45deg, #7f7fff 0%, #3232ff 100%);
    transition: .4s;
}

.hero-item {
	height: 804px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	position: relative;
	padding-top: 140px;
}

.hero-item:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #0d0d11;
	opacity: 0.74;
	z-index: 1;
}

.hero-item .container {
	position: relative;
	z-index: 9;
}

.hero-item h2 {
	font-size: 96px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 15px;
}

.hero-item p {
	font-size: 20px;
	margin-bottom: 35px;
}

.hero-item .site-btn,
.hero-item p,
.hero-item h2 {
	position: relative;
	top: 50px;
	opacity: 0;
}

.hero-slider .owl-item.active .hero-item h2,
.hero-slider .owl-item.active .hero-item p,
.hero-slider .owl-item.active .hero-item .site-btn {
	top: 0;
	opacity: 1;
}

.hero-slider .owl-item.active .hero-item h2 {
	-webkit-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.hero-slider .owl-item.active .hero-item p {
	-webkit-transition: all 0.5s ease 0.6s;
	transition: all 0.5s ease 0.6s;
}

.hero-slider .owl-item.active .hero-item .site-btn {
	-webkit-transition: all 0.5s ease 0.8s;
	transition: all 0.5s ease 0.8s;
}

.slider-progress-bar {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

.slider-progress-bar .progress {
	height: 4px;
	background: #10ddb4;
	-webkit-animation: sliderProgressBar ease;
	animation: sliderProgressBar ease;
}

.my-slider:hover .slider-progress-bar .progress {
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

@-webkit-keyframes sliderProgressBar {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes sliderProgressBar {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}


.cardTransparentBackground{
  background:rgba(255,255,255,0.5);
  border-radius: 1vh;
  overflow:hidden;
  padding-right: 1.5vw;
}

.shimmer{
    /* styling stuff */
    font-weight:300;
    font-size:3em;
    margin:0 auto;
    padding: 0 40px;
    text-align: center;
    color: rgba(255,255,255,0.1);
}
.shimmer {
  /* the shimmer magic */
  background: -webkit-gradient(linear,left top,right top,from(#fff),to(#fff),color-stop(.5,#000));
  background: -moz-gradient(linear,left top,right top,from(#fff),to(#fff),color-stop(.5,#000));
  background: gradient(linear,left top,right top,from(#fff),to(#fff),color-stop(.5,#000));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  -webkit-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}

@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-ms-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

.content {
  height:40vw;
  width:100%;
  position: relative;
}

@media only screen and (max-device-width: 800px) {
  .h1-dashboard-heading{
    font-size:7vw;
    display:block;
    position:relative;
    font-family: 'Roboto Slab', serif; color:white;
  }
  .p-dashboard-heading{
    color:white;
    font-size:4vw;
  }  
  .dashboard-grid-button{
    height:8vh;
    border:0;  
    font-size:6vw;
    background:#FF0000;
    color:#ffffff;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }  
  .p-dashboard-heading2{
    color:white;
    font-size:4vw;
  }
  .carousel-caption-custom{
    color:#ffffff;
     font-family: 'Rowdies';
    font-size:6vw;
    margin-bottom:1vh;
  }
  .carousel-button-custom{
    font-size: 3vw;
  }
  .carousel-indicators-custom{
    font-size: 4vw;
  }
  .category-dashboard-heading{
    
    font-family: 'PT Sans', sans-serif;
    font-size:6vw;
  }
  .carousel-margin-custom{
    margin-bottom:10px;
  }
  .card_image{
    height:45vw;
    margin-left: auto;
    margin-right: auto;
    width:80vw;
  }
  .challenge-heading{
    color:#fff;   
    margin-top: 0.5vh; 
    margin: 0;
    font-size:4vw;
    height: 5vw;
    word-wrap: break-word;   
   }
  .challenge-text-custom{
    color:#cccccc;   
    margin-top: 0.3vh; 
    font-size:3.5vw;
  }
  .challenge-prize-custom{
    color:#ffb327;
    margin-top: 0.3vh; 
    font-size:4vw;
    width: 100%;
    display: block;
  }
  .heading-mobile-only{
    width:100%;
    text-align:center;
  }
  .button-view-all{ 
    height:10vw;
     border:0; 
     font-size:6vw;
     background:rgba(0, 0, 0, 0.8);

    color:#ffffff;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .p-stats-custom{
    color:white;
    font-size:6vw;
    font-weight:bold;
  }
  .counter{
    width:100%;
    margin-top:6vw;
    display: block;
  }
  .row-stats{
    margin-top:1vh;
    display: block;
  }
  .counter-value{
    color:white;
    font-weight:bold;
    font-size:6vw;
    margin-top:-2vh;
  }
  .p-foot-note{
    color:white;
    font-size:5vw;
  }
  .button-foot-note{
    font-size:5vw;
  }
  .row-modified{
    display: table;
  }
  .col-modified{
    width:100%;
    margin-top:6vw;
    display: block;
  }
  .dashboard-card-time-style{
    color:#999999;  
    margin-top: 0.3vh; 
    font-size:4vw;
    border-radius: 10px;
    font-weight: bold;
    display:block;
    padding:2px;
    padding-right:2vw;
    width: 100%;
  }
  .dashboard-card-prize-style{
    color:white;  
    margin-top: 0.3vh; 
    font-size:4vw;
    border-radius: 10px;
    font-weight: bold;
    display:block;
    padding:2px;
    padding-right:2vw;
    width: 100%;
  }
  .cl-card-time-style{
    color:#999999;  
    margin-top: 1vh; 
    font-size:4vw;
    border-radius: 10px;
    font-weight: bold;
    display:block;
    padding:2px;
    padding-right:2vw;
    width: 100%;
  }
  .d-board-cardTxt2{
    color:white;
    /* background-color: #F51100; */
    /* margin-top: 0.8vh;  */
    font-size:3.5vw;
    font-weight: bold;
    margin: 0;
    padding: 0.5vw 2vw;
    /* border-radius: 10px; */
    /* display:inline-block; */
    /* padding:2px; */

    /* padding-left:2vw;
    padding-right:2vw;
    margin: 0 auto;
     */
  }
  .mobile_center{
    width: unset;
    display: unset;
    text-align: center;
    clear: unset;
  }
  .mobile-optimize-navbar{
    display: block;
  }
  .footer_desktop{
    margin-bottom: 0;
  }
  .cl-mobile-footer{
    text-align: center;
  }
  .footer-lp-mobile{
    font-size: 4vw;
    display:block;
     width:100%;
    min-height: 12vw;
  }
  .bottom-nav-img{
    height:12vw;
  }
  .top-navbar-mobile{ 
      height:8vh;
      position: fixed;
      width: 100%;
  }
  .mobile-margin-top{
    width:100%;
    height:30vh;
    margin-top:0.5vh; 
  }
  .img-mobile-cl{
    height:30vh;
  }
  .card_image_all_ch{
    height:42.1893vw;
    margin-left: auto;
    margin-right: auto;
    width:75vw;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .card-body-cl{
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(0, 0, 0,1);
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw; 
    min-width: 75vw;
    padding-left:0.8vw;
    padding-top:0.2vw;
    min-height: 30vw;
  }
  .heading-card-cl{
    color:#fff;
    margin-top: 1vw;
    overflow: hidden;
    font-weight: bold; 
    font-family: 'Public Sans', sans-serif; 
    font-size:4vw;
    width:100%;
  }
  .mobile-cl-optimize{
    width: 100%;   
  }
  .mobile-otpimizeNav-cl{
    display: unset;
    max-height: unset;
  }
  .mobile-toggleSide-cl{
      display: none;
  }
  .lb-heading-mobile{
    color:#FFF;
    
    font-family: 'PT Sans', sans-serif;
    font-size:7vw;
   }
   .lb-heading-container{
    padding:3vw 0vw 3vw 3vw;
    width: 100%;
    text-align: center;
   }
   .c-challenge-name{
    color:#fff;
     font-size:6vw; 
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
   }
   .c-callengeTime{
    color:white;
    margin-top: 1vh;
    font-size:4vw;
    text-align: center;
   }
   .c-challengePrize{
    color: white;
    font-size:4vw;
    margin-top: 1vh;
   }
   .c-buttonJoin{
    background: rgba(0, 0, 0, 0.8);
    color:#fff; 
    font-size:4.5vw; 
    font-family: 'BIGMACCA';
   }
   .c-buttonCenter{
    width: 100%;
    text-align: center;
   }
   .c-div-mobile{
     display: unset;
   }
   .c-heading{
    color:#fff;
     font-size:4vw;
     text-align: center;
     font-family: 'Open Sans', sans-serif;
     margin-bottom: 3vw;
     margin-top: 5vw;
     
   }
   .c-textrd{
     font-size: 5vw;
     color: white;
     padding-left: 8vw;
     padding-right: 8vw;
     text-align: center;
     
   }
   .spotsFontSize{font-size: 4vw;margin: 1vw;}
   .cardContainerSize{
     width:80vw;
     border-bottom-left-radius: 2vw;
     border-bottom-right-radius: 2vw;
    };
  
  
 
  
  
 .title {
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
 }
  .padding-mobile-optimize{
   margin-top:20px;
   padding: 0px;
 }
  .result-image-lbc{
    height:42.1893vw;
    margin-left: auto;
    margin-right: auto;
    width:75vw;
    border-radius:0.5vw;
  }
  .width-100-m{
    display: block;
    width:100%;
  }
  .t-lbc-text{
    color:#ffffff;
    font-size:3.2vw;
    font-family: 'Poppins', sans-serif;
  }
  .mobile-extra-col{
    
  }
  .lbc-img-optimized{
      width:2vw;
  }
  .mobile-table-heading-lbc{
    color:#FFF; 
    font-size:4vw;
    font-family: 'Open Sans', sans-serif;
  }
  .lbc-heading-m{
    font-size:6vw;
    color: #FFF; 
    font-family: 'Open Sans', sans-serif;
  }
  .lbc-img-txt{
    color:#FFFFFF;
    font-size:4vw; 
    margin-top:1vh;
    font-family: 'Poppins', sans-serif;
  }
  .zoomImg {
    transition: transform 0s;
  }
  .zoomImg:hover {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1);
  }
  .subscribe-m{
    display: block; 
    margin-right:0vw;
    position: relative;

  }
  .subscribe-m-dim{
    width:10wv; 
    height:10vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .sub-img-2{
    width:10wv; 
    height:10vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .bck{
    background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA);
height: 50vw;
width:50vw;
}
.bck2{
    background: #fc4a1a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 50vw;
width:50vw;
}
.sub-heading{
  color:#e2e2e2;margin-bottom:5vw;
  font-size: 6vw;
}
.sub-text{
  color:#FFF;
  margin-top:1vw;
  font-family: 'PT Sans', sans-serif;
  font-size: 4vw;
}
.sub-ret-img{
  height:10vw; height:10vw;
}
.lbc-mobile-optimized-img{
  width:90%;
}
.imageBorder{
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
}
.pulseStyleMobile{
  display: none;
}
.containerDashboardHeading{
  display: inline-grid;
  justify-items: center;
  align-items: center;
}
.challengeTopContainer{
  padding: 6vw; 
 height:30vh;
 display: block;}
 .challengeTopContainer2{
  color: #FFF;
  float: none;
  display: block;
  font-family: 'Roboto', sans-serif;
  margin-top: 8vh;
  text-align: center;
}
.challengeTopParentContainer{
  height: 70vh;
  width: 100%;
}
.childContent2{
  text-align: center;
}
.spotsContainer2{
  font-size: 5vw;color:white;float: unset;
}
.iconSpotsStyle{
  font-size: 4vw;
}
.progressBarStyleMobile{width: 50%;margin-top: 1vh;margin: auto;}
.mobiletimeBannerContainer-Container2{margin: auto;display: block;}
.centerElement{text-align: center;}
.buttonShdwEffect {
  padding-left: 4vw;
  padding-right: 4vw;
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
  font-weight: 500;
  color: #fff;
  border: 3px solid rgb(94, 89, 89);
  background-color: rgba(94, 89, 89,0.8);
  
  margin: auto;
  margin-top:1.5vw;
  margin-bottom: 1.5vw;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }
  .c-prize-mobile{
    text-align: center;
    display: block;
   }


  .c-prize-background{
    background: #111;
    border-radius: 3px;
    margin-right: 1vw;
    margin: 0 auto;
    margin-top: 5vh;
    width: 50vw;
    display: block;
  }
  .c-prize-text{
    color:#fff;
    font-size:4vw; 
    font-family: 'Open Sans', sans-serif;
    display: inline-flex;
    margin:1vw;
    margin-bottom: 0.1vw;
  }
  .c-image-prize{
    height:15vh;
    margin-top:0vh;
    margin-bottom: 2vh;
  }
  .c-text-prize{
    background:#090f0f;
    color:white;
    text-align: center;
    color:#fff;
     font-size:5vw;
    padding:1vw; 
    font-family: 'Open Sans', sans-serif;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .fontSizeOptimizer{
    font-size: 10vw;
  }
  .footerMobileFontSize{
    color: white;
    font-size:4.5vw;}
  .modalHeading{
      margin:auto;
      color: white;
      font-size: 4vw;
  }
  .mobileOnlyJoinButton{
    padding: 1vh;
    display: block;
    text-align: center;
  }
  .pcOnlyJoinButton{
    display: none;
  }
  .imageHeadingShareDialog
  {
    width: 50vh;
  }
  .challengeBaseLableStyle{
    display: inline-block;
    border:0.1vw solid #dc281e;
    text-align:center;
    color: #fff;
    padding:0vw 2vw 0vw 2vw;
    border-radius: 10vw;
    font-size: 3vw;
  }
  .timeLabelStyle{
    display: inline-block;
     border:0.1vw solid #4CA1AF;
    text-align:center;
    color: #fff;
    padding: 0.1vw;
    border-radius: 0.2vw;
    font-size: 3vw;
  }
  .participateButton{
    font-size: 5vw;
    background-color:rgba(0, 0, 0, 0);
      margin: auto;
      margin-top: 2vw;
      margin-bottom: 2vw;
    padding: 0.5vw 2vw;
    color: #fff;
    border-radius: 2vw;
    border: 0.1vw solid  #7A7D87;
  }
  .spotsCounterDashboard{
    padding-top:0.5vw;
    flex-grow: unset;
    font-size: 3vw;
    margin: auto;
  }
  
  .cardFooter{display: block;}
  .cardBodyContainer{
    display: inline-block;
    margin-top: 1vw;
  }
  .hr-mobile{
    display: block;
  }
  .coinToCOPHint{
    font-family: Arial, Helvetica, sans-serif; 
    color: #fff;
    font-size: 3vw;
  }
  .chat-disabled-info{
    margin: 20px;
    background-color:rgba(20,20, 20, 0.6);
    width:100%;
    margin:auto;
    color:white;
    padding: 4vw 0;
    border-radius: 2vw;
  }
}