.card_image{
  height:230px;
  width:400px;
  border-radius: 10px;
}
html, body {
  /* IE 10-11 didn't like using min-height */
  height: 100%;
}
.card_item{
  padding-left:5px;
  padding-right:5px;
}
.item-card{
  transition:0.5s;
  cursor:pointer;
}
.item-card-title{
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
.item-card-title i{
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg);
  color:#18d4ca;
}

.headingFont{
  font-family: 'bigmaccaregular', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}
.buttonCard{
  margin-top:15px;
  padding:10px;
  min-width:150px;
  padding-left: 50px;
  padding-right:50px;
  border:0px solid #222222;
  border-radius: 20px;
  font-weight: bold;
  background: #000000;
  color:#FFF;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:80px;
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
}
.textStyle{
  width:100%;
  margin-top: 5px;
  font-family: 'PT Sans', sans-serif;
}
.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: #262828;
}

.dashboardClass{
  /* background-color: 	#130F0E; */
  background-image: url(/images/background.jpg);
}
.cardModified{
  margin:0px;
  position:absolute;
}

.masthead {
  height: 50vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blur {
width:100%;
height:100%;
background-size:cover;
-webkit-filter: blur(4px);
-moz-filter: blur(4px);
-ms-filter: blur(4px);
-o-filter: blur(4px);
filter: blur(4px);
}
.imageCarousel{
  background-size: cover;
  object-fit: cover;

  background-position: center center;
background-repeat: no-repeat;
}
.pagination > li > a
{
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}

.card-leaderboard{
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border: 1px solid #AAAAAA;
  text-align: center;
}
@font-face {
  font-family: "BIGMACCA";

  src: url("/fonts/bigmacca.woff") format("woff"), /* Modern Browsers */
    url("/fonts/bigmacca.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
.cardShadow{
  -webkit-box-shadow: 0px 0px 84px 21px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 84px 21px rgba(0,0,0,1);
  box-shadow: 0px 0px 84px 21px rgba(0,0,0,1);
}
.carder{
  border-radius: 10px;
  background: #222;
}
.table_head{
  font-size:1.5rem;
  vertical-align:middle;
  text-align:center;
  color:white;
}
.table_row{
   margin:10px;
   background-color:#222;
   padding-left:15px;
}
.shadow_admin{
  -webkit-box-shadow: 0px 0px 36px 13px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 36px 13px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 36px 13px rgba(0,0,0,0.75);
}




.active-pink-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink input.form-control[type=text] {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-purple-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.active-purple input.form-control[type=text] {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input.form-control[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan .fa, .active-cyan-2 .fa {
  color: #4dd0e1;
}
.active-purple .fa, .active-purple-2 .fa {
  color: #ce93d8;
}
.active-pink .fa, .active-pink-2 .fa {
  color: #f48fb1;
}
.button_adminPanel{
    padding:0px;
    border-radius: 50px;
}
.square_btn{
    display: inline-block;
    padding: 7px 20px;
	border-radius: 25px;
    text-decoration: none;
    font-weight: bolder;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #7f7fff 0%, #3232ff 100%);
    background-image: linear-gradient(45deg, #7f7fff 0%, #3232ff 100%);
    transition: .4s;
}

.hero-item {
	height: 804px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	position: relative;
	padding-top: 140px;
}

.hero-item:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #0d0d11;
	opacity: 0.74;
	z-index: 1;
}

.hero-item .container {
	position: relative;
	z-index: 9;
}

.hero-item h2 {
	font-size: 96px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 15px;
}

.hero-item p {
	font-size: 20px;
	margin-bottom: 35px;
}

.hero-item .site-btn,
.hero-item p,
.hero-item h2 {
	position: relative;
	top: 50px;
	opacity: 0;
}

.hero-slider .owl-item.active .hero-item h2,
.hero-slider .owl-item.active .hero-item p,
.hero-slider .owl-item.active .hero-item .site-btn {
	top: 0;
	opacity: 1;
}

.hero-slider .owl-item.active .hero-item h2 {
	-webkit-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.hero-slider .owl-item.active .hero-item p {
	-webkit-transition: all 0.5s ease 0.6s;
	transition: all 0.5s ease 0.6s;
}

.hero-slider .owl-item.active .hero-item .site-btn {
	-webkit-transition: all 0.5s ease 0.8s;
	transition: all 0.5s ease 0.8s;
}

.slider-progress-bar {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

.slider-progress-bar .progress {
	height: 4px;
	background: #10ddb4;
	-webkit-animation: sliderProgressBar ease;
	animation: sliderProgressBar ease;
}

.my-slider:hover .slider-progress-bar .progress {
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

@-webkit-keyframes sliderProgressBar {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes sliderProgressBar {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

/* .square_btn:hover {
  background-image: -webkit-linear-gradient(45deg, #7f7fff 0%, #3232ff 100%);
  background-image: linear-gradient(45deg, #7f7fff 0%, #3232ff 100%);
} */
